#Ignore data folder
/data/*
#Ignore executables
ebtel
#Ignore object files
*.o
#Ignore pyc files
*.pyc
#Ignore all config files
/config/*
#Except for example configuration file
!/config/ebtel_config.xml
